body {
	background-color: rgb(255,255,255)
}
.normal {
	color: rgb(0,0,0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
.small {
	color: rgb(0,0,0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%
}
img {
	border: none
}
div {
	text-align: center
}
.big_caption {
	font-size: 145%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
.medium_caption {
	font-size: 115%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
.small_caption {
	font-size: 105%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
.smaller_caption {
	font-size: 90%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
ul.added {
  color: rgb(0,0,128); list-style-type: disc; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
ul.fixed {
  color: rgb(128,0,0); list-style-type: circle; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
ul.download {
  list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
ul.links {
  list-style-image: url(../images/arrow.gif); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
a.nav:link {
	color: rgb(0,0,0); text-decoration: none; font-weight: bold
}
a.nav:visited {
	color: rgb(150,150,150); text-decoration: none; font-weight: bold
}
a.nav:hover {
	color: rgb(77,77,77); text-decoration: underline; font-weight: bold
}
a.links:link {
	color: rgb(0,0,255); text-decoration: underline;
}
a.links:visited {
	color: rgb(128,0,128); text-decoration: underline;
}
a.links:hover {
	color: rgb(0,0,255); text-decoration: underline;
}
