body {
	background-color: rgb(255,255,255)
}
.normal {
	color: rgb(0,0,0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
.small {
	color: rgb(0,0,0); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 75%
}
img {
	border: none
}
div {
	text-align: center
}
div.translation {
	text-align: right; font-size: 75%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
table {
  width: 100%
}
.big_caption {
	font-size: 145%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
.medium_caption {
	font-size: 115%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
.small_caption {
	font-size: 105%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
.smaller_caption {
	font-size: 90%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
.smallest_caption {
	font-size: 75%; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold
}
ul.added {
  color: rgb(0,0,128); list-style-type: disc; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
ul.fixed {
  color: rgb(128,0,0); list-style-type: circle; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
ul.download {
  list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
ul.links {
  list-style-image: url(../images/arrow.png); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%
}
/* For navigation and download links inside <ul> elements as well as "Top" anchor */
a.nav:link {
	color: rgb(0,0,0); text-decoration: none; font-weight: bold
}
a.nav:visited {
	color: rgb(100,100,100); text-decoration: none; font-weight: bold
}
a.nav:hover {
	color: rgb(75,75,75); text-decoration: underline; font-weight: bold
}
/* For external and internal links (between ffdshow pages) */
a.links:link {
	color: rgb(40,40,40); text-decoration: none;	border-bottom: solid 1px rgb(40,40,40)
}
a.links:visited {
	color: rgb(120,120,120); text-decoration: none; border-bottom: solid 1px rgb(120,120,120)
}
a.links:hover {
	color: rgb(80,80,80); text-decoration: none; border-bottom: dotted 1px rgb(80,80,80)
}
